/*Font*/
@font-face {
    font-family: "Hind Bold";
    src: url("/fonts/landing/Hind-Bold.ttf");
}

@font-face {
    font-family: "Hind Semi Bold";
    src: url("/fonts/landing/Hind-SemiBold.ttf");
}

@font-face {
    font-family: "Hind Normal";
    src: url("/fonts/ds-landing/Hind-Medium.ttf");
}

@font-face {
    font-family: "Hind Regular";
    src: url("/fonts/landing/Hind-Regular.ttf");
}

@font-face {
    font-family: "Mosk Extra-bold";
    src: url("/fonts/landing/Mosk Ultra-Bold 900.ttf");
}

@font-face {
    font-family: "Mosk 500";
    src: url("/fonts/landing/Mosk Medium 500.ttf");
}

@font-face {
    font-family: "Mosk 400";
    src: url("/fonts/landing/Mosk Normal 400.ttf");
}


/*general*/
.bg {
    background-image: url("/img/ds-landing/background-ds-academy.png");
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #20022E;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #620157;
}

.btn:focus {
    background: transparent;
}

h1 {
    font-family: "Mosk Extra-bold";
    letter-spacing: 4px;
}





/* header sl section start */
.header {
    padding-top: 15em;
    margin-bottom: 8em;
    min-height: 85vh;
    color: white;
    border-radius: 30px;
}

#header-img {
    width: 20em;
}

#logo-img {
    width: 10em;
}

.header .col-4, .header .col-8 {
    padding: 0;
}

#lebih-lanjut {
    font-family: "Hind Regular";
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}

#lebih-lanjut img {
    width: 10px;
    margin-left: 16px;
}

.header h1 {
    font-family: "Mosk Extra-bold";
    font-size:2rem;
    letter-spacing: 4px;
}

.header p {
    font-family: "Hind Regular";
    font-size: 20px;
    letter-spacing: 3px;
}

@media (min-width: 475px) {
    #logo-img {
        width: 15em;
    }

    .header h1 {
        font-size: 3rem !important;
    }
}

/* intro section start */
#intro {
    padding-top: 160px;
}

#intro p {
    font-family: "Hind Regular";
    letter-spacing: 2px;
}

#intro .acara {
    margin-top: 180px;
}

#intro iframe {
    margin-bottom: 10rem;
}

@media (max-width: 500px) {
    #intro .acara {
        font-size: 20px !important;
    }

    #intro iframe {
        height: 400px;
    }

}



/* rangkaian materi start */
#rangkaian-materi {
    padding-top: 10%;
    margin-bottom: 20vh;

}


/* speakers section start */
#speakers {
    padding-top: 150px;
    margin-bottom: 20rem;
}

#speakers h1 {
    margin-bottom: 5rem;
}


/* timeline section start */
#timeline {
    padding-top: 150px;
    margin-bottom: 15rem;
}

.timeline h1 {
    margin-bottom: 5rem;
    font-family: "Mosk Extra-bold";
    letter-spacing: 4px;
    color: whitesmoke;
}

.timeline h2 {
    font-family: "Hind Bold";
    font-size: 25px;
    letter-spacing: 1px;
    color: whitesmoke;
}

.timeline h5 {
    font-family: "Hind Semi Bold";
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin: 5%;
    color: whitesmoke;
}

.timeline h5 span {
    font-family: 'Hind Regular';
}

.timeline p {
    font-family: 'Hind Regular';
    color: whitesmoke;
    font-size: 20px;
}

#circle-timeline {
    background: url("/img/startup-landing/garis-timeline.png");
    background-size: 75vw;
    background-repeat: no-repeat;
    background-position: center;
}

#rocket {
    background: linear-gradient(180deg, #CE00B1 0%, #8818C9 122.58%);
}

.circle {
    width: 4em;
    height: 4em;
    background: white;
    border: 8px solid rgba(172, 145, 193, 1);
    border-radius: 50%;
    margin: 0 40%;
}

#inside-circle {
    height: 2em;
    width: 2em;
    background: white;
    margin: 17%;
    border-radius: 50%;
}

#timeline-horizontal {
    display: none;
}

@media (min-width: 1487px) {
    #timeline-horizontal {
        display: block;
    }
}

#timeline-small {
    display: block;
    color: whitesmoke;
}

@media (min-width: 1487px) {
    #timeline-small {
        display: none;
    }
}

/* vertical timeline section */

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

li.timeline-item {
    margin: 20px 0;
    background: rgba(114, 69, 121, 0.5);
    border-top: 8px solid rgba(136, 24, 201, 1);
}

li.timeline-item ul {
    color: white;
    font-family: "Hind Regular";
    font-size: 18px;
    list-style-image: url("/img/startup-landing/bullet-point.png");
}


/* faq section start */
.faq {
    min-height: 120vh;
}

.faq h1 {
    font-family: "Mosk Extra-bold";
    color: whitesmoke;
}

.accordion {
    margin: 2em 0;
}

.accordion button {
    color: whitesmoke;
}

.accordion .accordion-collapse {
    border-bottom: 3px solid whitesmoke;
    border-left: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: whitesmoke;
}

.accordion-header button {
    color: none;
    background: transparent;
    border: 3px solid whitesmoke;
    font-family: "Hind Semi Bold";
    font-size: 1.3rem;
}

.accordion-header button:focus {
    color: whitesmoke;
    background: transparent;
    border-color: whitesmoke;
    box-shadow: none;
}

.accordion-header button:not(.collapsed) {
    color: whitesmoke;
    background: transparent;
    border-color: whitesmoke;
    box-shadow: none;
}

.accordion-item {
    text-align: left;
    font-family: "Hind Normal";
    font-size: 1.3rem;
    background: transparent !important;
    margin-bottom: 1%;
}

/* bottom text section start */

.bottom-text {
    background: linear-gradient(90deg, rgba(206, 0, 177, 0.7) 0%, rgba(136, 24, 201, 0.273) 100.11%);
    height: 50vh;
    margin: 20% 0;
}

.bottom-text .desc h2 {
    position: relative;
    top: 6rem;
    color: whitesmoke;
    font-family: "Mosk Extra-bold";
    letter-spacing: 2px;
}

.bottom-text .desc a {
    position: relative;
    top: 8rem;
    background: linear-gradient(90deg, #CE00B1 0%, #8818C9 100.11%);
    font-family: "Hind Bold";
    letter-spacing: .1rem;
    padding: 9px 45px;
    color: whitesmoke;
    border: 3px solid transparent;
}

.bottom-text .desc a:hover {
    box-shadow: 0 3px 5px grey;
    color: white;
    text-decoration: none;
}


@media (max-width: 400px) {
    .bottom-text {
        height: 60vh;
    }
}


/* footer section start */
.footer {
    background: #380152;
    max-width: 100%;
}

#footer-right .listsocmed i {
    transition: all .2s ease-in;
}

#footer-right .listsocmed i:hover {
    color: rgba(248, 143, 197, 1);
}

#footer-link li a {
    transition: all .2s ease-in;
}

#footer-link li a:hover {
    color: rgba(248, 143, 197, 1);
}

footer .container {
    position: relative;
    max-width: inherit;
}

#footer {
    width: 1300px;
}

#footer img {
    margin: 70px 0 0 0;
}

#footer h1 {
    color: white;
    font-size: 18px;
    font-family: "Hind Bold";
    font-weight: 400;
    letter-spacing: 2px;
}

#footer i {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing: 8px;
}

#footer .shop i {
    font-size: 0.8rem;
}

#footer-right {
    margin-top: 100px;
}

#footer ul {
    list-style-type: none;
    display: inline-block;
}

#footer ul p {
    color: white;
}

#footer ul a {
    color: white;
    text-decoration: none;
}

#footer-right a {
    color: transparent;
}

.footer hr {
    border-top: 1px solid rgba(209, 108, 108, 0.45);
}

#copyright h2 {
    font-family: "Hind Regular";
    font-size: 1.2rem;
    color: white;
}


/* whatsapp section start */
.whatsapp {
    background-color: rgba(114, 69, 121, 0.9);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 8px;
    padding: 12px 6px;
    font-family: "Hind Regular";
    z-index: 99999999;
}

.whatsapp-desktop {
    width: 20em;
}

.whatsapp button {
    position: relative;
    left: 90%;
}

#close-wa:hover {
    background-color: rgba(0, 0, 0, .25);
}

.whatsapp a {
    position: relative;
    left: 28%;
    background-color: #25D366;
    color: white;
}

.whatsapp a:hover {
    color: lightgrey;
}

.whatsapp-icon {
    display: none;
}

.whatsapp-icon:hover {
    opacity: .8;
}

.whatsapp-responsive {
    display: none;
    color: whitesmoke;
}


@media (max-width: 992px) {
    .whatsapp {
        background-color: #25D366;
        padding: 12px 16px;
        bottom: 5px;
    }

    .whatsapp-desktop {
        display: none;
    }

    .whatsapp-icon {
        display: none;
    }

    .whatsapp-responsive {
        display: block;
    }

    .whatsapp-responsive i {
        position: relative;
        left: -7px;
        top: 2px;
    }
}















